.App {
  text-align: center;
}

.background{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("https://gamepress.gg/lostword/sites/lostword/files/2022-06/0260_%E3%83%90%E3%83%BC%E3%83%8B%E3%83%B3%E3%82%B0%E3%83%BB%E3%83%A9%E3%83%96%E3%83%AC%E3%82%BF%E3%83%BC%EF%BC%9F.png");
  
}

.page{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card{
  width: 60%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.container{
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: aliceblue;
}

a{
  text-decoration: none;
  color: inherit;
}

